#container{
    position: relative;
    height: 620px;
}
.event_intro{
    position: absolute;
    top: 235px;
    left: 263px;
    width: 458px;
    text-align: justify;
    z-index:120;
    /*text-justify: distribute-all-lines;*/
}
.event_intro p:first-of-type{
    font-size: 36px;
}
.event_intro p:nth-of-type(2){
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}
.event_intro p:last-of-type{
    font-size: 15px;
    text-align: justify;
    color: #eee;
}
#container img{
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 4s;
}
#container img:first-child{
    position: relative;
}
#container img:hover{
    cursor: pointer;
}
#container .dot{
    position: absolute;
    height: 10px;
    z-index: 100;
    bottom: 20px;
    margin-left: 50%;
    text-align: center;
}
#container .dot span{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    z-index: 120;
}
#container .dot span:hover{
    cursor: pointer;
}
.arrow{
    position: absolute;
    display: none;
    top: 45%;
    text-align: center;
    cursor: pointer;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 80px;
    line-height: 80px;
    z-index: 100;
    border:none;
    background-color: rgba(0,0,0,.3);
    color: #fff;

}
.arrow:hover{
    background-color: rgba(0,0,0,.7);
    cursor: pointer;
}
#container:hover .arrow{
    display: block;
}
#prev{
    left: 20px;
}
#next{
    right: 20px;
}
