#main_event ul{
    position: absolute;
    bottom: 30px;
    left: 263px;
    overflow: auto;
}
#main_event li{
    font-size: 18px;
}
#main_event li img{
    paadding-right: 10px;
}
#main_event li span:last-of-type{
    padding-right: 10px;
    padding-left: 10px;
}
#detail{
    position: relative;
    margin-top: 40px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    /*border: 1px solid red;*/
}
section{
    position: relative;
    background-color: #fff;
    margin-bottom: 40px;
}
section header{
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    background-color: #cb3a3a;
}
section header img{
    padding-right: 10px;
    padding-left: 20px;
}
#map{
    height: 620px;
}
#location{
    position: relative;
    width: 100%;
    height: 570px;
    overflow: hidden;
}