*{
    margin: 0;
    padding: 0;
    outline: none;
}
html,
body{
    width: 100%;
    background-color: #f3f3f3;
    font-family: "\5FAE\8F6F\96C5\9ED1";
    color: #fff;
}

a,a:link,a:visited,a:hover,a:active{
    color:white;
    text-decoration: none;
}
li{
    float: left;
    list-style: none;
}

#main_event{
    position: relative;
    height: 620px;

}
#container{
    position: relative;
}
#main_event #jelly,
#container #jelly{
    height:620px;
    background-color: #000;
    -webkit-opacity:0.4;
    opacity: 0.4;
    filter:alpha(opacity=40);
    z-index: 150;
}
.event_intro{
    position: absolute;
    top: 235px;
    left: 263px;
    width: 458px;
    text-align: justify;
    z-index:120;
    /*text-justify: distribute-all-lines;*/
}
.event_intro p:first-of-type{
    font-size: 36px;
}
.event_intro p:nth-of-type(2){
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
}
.event_intro p:last-of-type{
    font-size: 15px;
    text-align: justify;
    color: #eee;
}
header{
    position:relative;
    width:100%;
    height: 70px;
    font-size: 18px;
    background-color: #cb3a3a;
    overflow: auto;
}
header>ul{
    margin-top: 24px;
    margin-left: 203px;
}
header>ul li:first-of-type{
    margin-top: -5px;
}
header ul li:first-of-type{
    padding-right: 20px;
}
header ul li:last-of-type{
    padding-left: 20px;
    border-left: 1px solid #fff;
}
#logo{
    font-size: 24px;
}
header>ul img{
    padding-right: 10px;
}
header>div{
    float: right;
    margin-right: 203px;
}
header>div ul{
    float: left;
    margin-right: 20px;
}
header>div span{
    display: block;
    position: relative;
    width: 200px;
    height: 32px;
    margin-top: -5px;
    border-radius: 25px;
    border: none;
    background-color: #a92f2f;
    overflow: auto;
}
header>div span input{
    float:left;
    border-radius: 25px;
    width: 160px;
    height: 28px;
    margin-top:3px;
    margin-left: 8px;
    border: none;
    background-color: #a92f2f;
    color:#fff;
    font-size: 18px;
}
header>div span img{
    float:left;
    margin-top: 6px;
}
footer{
    position: relative;
    hright: 78px;
    line-height: 78px;
    background-color: #111;
    font-size: 16px;
    text-align: center;
}

